unless _.isEmpty(resume.basics.summary)
  .detail#about
    .icon
      i.fs-lg.icon-board
      span.mobile-title 自我介紹
    .info
      h4.title.text-uppercase 自我介紹

      .card.card-nested
        .content.mop-wrapper(itemprop="description")!= resume.basics.summary
